{
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
	},
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"semi": [
			"error",
			"always"
		],
		"no-unused-vars": 0
	}
}
